@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-variant: small-caps;
	font-weight: normal;
}

[epub|type~="bridgehead"]{
	display: block;
	font-style: italic;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 3em;
	margin-left: auto;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] .signature{
	margin-top: 1em;
}

.signature{
	font-variant: small-caps;
	font-style: normal;
}

em{
	font-weight: normal;
	font-variant: small-caps;
}

blockquote > blockquote{
	margin-left: 0;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}
